
*{
  box-sizing: border-box;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}

input{
	-webkit-appearance: none;
}

input:focus {
    outline: none;
}

.container{
display: grid;
grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
grid-template-columns: auto;

}


.nav{
	margin-top: -15%;
	text-align: center;
	grid-row: 1;
	grid-column: 1;

}
.logo{
	font-family: Righteous;
	font-size: 80px;
}

