
*{
  box-sizing: border-box;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}

input{
	-webkit-appearance: none;
}

input:focus {
    outline: none;
}

.container{
display: grid;
grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
grid-template-columns: auto;

}
.nav{
	margin-top: -15%;
	text-align: center;
	grid-row: 1;
	grid-column: 1;

}
.logo{
	font-family: Righteous;
	font-size: 80px;
	color: white;

	
}

body{
background-color: #131313;	
}

.start{
	grid-row: 2;
	grid-column: 1;
	margin-top: -100px;
	text-align: center;
}

.t{

	font-family: Inter;
	font-weight: 600;
	font-size: 40px;
	color: #FF6767;
	line-height: 40px;
	
}

.subt{
	font-family: Inconsolata;
	font-size: 18px;
	font-weight: 400;
	color: #C6CCFF;

	margin-top: -30px;
}


.email{
	border-radius: 5px;
	border-style: solid;
	width: 80%;
	padding: 7px 14px;
	font-family: Inter;
	font-size: 14px;
	float: left;
	display: inline;
	margin-top: 10px;
	margin-left: 10%;


}
.typeofart{
	border-radius: 5px;
	
	border-style: solid;
	width: 80%;
	padding: 7px 14px;
	font-family: Inter;
	font-size: 14px;
	margin-top: 10px;
	float: left;
	display: inline-block;
	margin-left: 15%;
}
.button{
	font-family: Inter;
	font-size: 14px;
	padding: 5px 5px;
	font-weight: 600;
	background-color: #FDB0B0;
	border-radius: 5px;
	border: 2px solid #FF6767;
	width: 80%;
	-webkit-appearance: none;
	color: #971F1F;
	
}

.Red{
	margin: 0 auto;
	width: 95%;
}

.save{
	font-family: Merriweather;
	font-size: 32px;
	color: #FF6767;

}

.market{
	margin-top: -20px;
	font-family: Merriweather;
	font-size: 18px;
	color: white;
	font-weight: 300;
	text-align: left;
	margin-left: 2%;
}

.market em{
	color: #FFE600;
	font-style: normal;
}

.wait{
	font-family: Inconsolata;
	font-size: 20px;
	color: white;
}

#confirmation{
	display: none;
	font-family: Inconsolata;
	font-size: 14px;
	color: white;
}